body {
  background-color: #3B3B3B;
  
}


#userChild, #userChild *,  
#loginChild, #loginChild * {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.btn {
  border: 1px solid #c6c6c6;
  background-color: lightgreen;
  border-radius: 3px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 200px;
  text-align: center;
}
.btn:active, .btnbottom:active {
  background-color: #339933;
}

.btnbottom {
  border: 1px solid #c6c6c6;
  background-color: lightgreen;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 5px;
  width: 80%;
  text-align: center;
  font-weight: bold;
}

.rightside {
  border: 1px solid #c6c6c6;
  background-color: lightgreen;
  border-radius: 5px;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

#userMenu, #loginSpace, #startSearch{
    float: right;
    position: absolute;
    z-index: 1000;
}

#loginSpace {
  min-width: 250px;
}

#loginSpace, #userMenu {
  top: 1em;
  right: 1em;
}

#startSearch {
  padding-top: 5%;
  padding-bottom: 5%;
  bottom: 1em;
  right: 1em;
  max-height: 8%;
}

#userChild, #loginChild {
  background-color: #e4e6e9;
  border: 1px solid #dddddd;
}

#newBathroom  * {
  margin-top: 7px;
}

#mapContainer {
  height: 73vh;
  position: relative;
  background-color: #CCC;
}

#inputValidation {
  color: #0099FF;
  font-weight: bold;
}

#main *, #headerMenu * {
  margin-left: auto;
  margin-right: auto;
}

#locationData {
  background-color: #E4E6E9;
  border-top: 3px solid #2e2e2f;
  height: 24vh;
  padding-left: 3%;
  margin-top: 5px; 
}

#locationData * {
  font-size: 120%;
  margin-top: 2px;
  margin-bottom: 0px;


}

#name {
  font-size: 220%;
  font-weight: bold;
}
