body {
  background-color: skyblue;

}


.btn {
  border: 1px solid #dddddd;
  background-color: lightgreen;
  border-radius: 3px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 100px;
  text-align: center;
}

.btnbottom {
  border: 1px solid #c6c6c6;
  background-color: lightgreen;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  text-align: center;
}

#userMenu, #loginSpace, #startSearch{
    float: right;
    position: absolute;
    z-index: 1000;
}

#loginSpace, #userMenu {
  top: 1em;
  right: 1em;
}

#startSearch {
  bottom: 3em;
  right: 1em;
}


#userChild, #userChild *, #userChild button, 
#loginChild, #loginChild *, #loginChild button {
  border-radius: 5px;
  padding: 5px;
}

#userChild, #loginChild {
  background-color: #e4e6e9;
  border: 1px solid #dddddd;
}

#mapContainer {
  height: 70vh;
  position: relative;
  background-color: #CCC;
}


#main *, #headerMenu * {
  margin-left: auto;
  margin-right: auto;
}

#locationData {
  background-color: #E4E6E9;
  padding: 5px;
  border-top: 3px solid #2e2e2f;
  height: 25vh;
}
