body {
  background-color: #F5FFFF;

}

#userChild, #userChild *,  
#loginChild, #loginChild * {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.btn {
  border: 1px solid #c6c6c6;
  background-color: lightgreen;
  border-radius: 3px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 200px;
  text-align: center;
}

.btnbottom {
  border: 1px solid #c6c6c6;
  background-color: lightgreen;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 5px;
  width: 80%;
  text-align: center;
  font-weight: bold;
}

.rightside {
  border: 1px solid #c6c6c6;
  background-color: lightgreen;
  border-radius: 5px;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

#userMenu, #loginSpace, #startSearch{
    float: right;
    position: absolute;
    z-index: 1000;
}

#loginSpace {
  min-width: 250px;
}

#loginSpace, #userMenu {
  top: 1em;
  right: 1em;
}

#startSearch {
  bottom: 3em;
  right: 1em;
}

#userChild, #loginChild {
  background-color: #e4e6e9;
  border: 1px solid #dddddd;
}

#newBathroom  * {
  margin-top: 7px;
}

#mapContainer {
  height: 70vh;
  position: relative;
  background-color: #CCC;
}


#main *, #headerMenu * {
  margin-left: auto;
  margin-right: auto;
}

#locationData {
  background-color: #E4E6E9;
  padding: 5px;
  border-top: 3px solid #2e2e2f;
  height: 25vh;
}
